# Node modules
node_modules

# NPM cache
.npm

# System files
.DS_Store
.idea
.vscode
.cursor
.env
.env.development
.env.stage
.npmrc

# log files
backend/log/*.log

# Docker files
Dockerfile.development
Dockerfile.stage
